{% extends 'base.html' %} 
{% block title %} Index 
{% endblock title %} 
{% block content %}
<div>
    <form method = "get" ,action=''>
        {{form.as_p}}
        <input type='submit' value = 'search'>
    </form>    
</div>
<div class='card'>
    {% for post in posts %}
        <a href={% url 'account:User_Profile' post.user.id %} class='text-bg-dark col-md-3 text-center'>{{post.user.username}}</a>
        <a href='{{ post.get_absolute_url }}' class='card-body'>{{post.slug}}</a>
    {% endfor %}

</div>   
<p class="visually-hidden">farhad:123456</p>
{% endblock content %}
