{% extends 'base.html' %}
{% block content %}  
    {% for post in posts  %}
        {% if request.user.id == post.user.id %}
            <a href="{% url 'home:Post_Delete' post.id %}" class='btn btn-danger'>Delete</a>
            <a href="{% url 'home:Post_Update' post.id %}" class='btn btn-info'>Update</a>
        {% endif %}
        <h3>{{post.user.username}}</h3>
        <p> {{post.body}}</p>
    {% endfor %}
    </hr>
    {% for comment in comments %}
        <div class='card bg-dark text-white col-md-4'>
            <p class='card-header'>{{comment.user}}|{{comment.created|timesince}}</p>
            <p class='card-body'>{{comment.body}}</p>
        </div>
    {% empty %}
        <div class='card bg-dark text-white col-md-4'>
            <p class='card-body'>This Post haven't any comments</p>
        </div>
    {% endfor %}
    {% comment %} {% if comments %}
        {% for comment in comments %}
            <div class='card bg-dark text-white col-md-4'>
                <p class='card-header'>{{comment.user}}|{{comment.created|timesince}}</p>
                <p class='card-body'>{{comment.body}}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class='card bg-dark text-white col-md-4'>
            <p class='card-body'>This Post haven't any comments</p>
        </div>
    {% endif %}     {% endcomment %}

{% endblock content %}