{% extends 'base.html' %}
{% block content %}  
    
        {% if request.user.id == post.user.id %}
            <a href="{% url 'home:Post_Delete' post.id %}" class='btn btn-danger'>Delete</a>
            <a href="{% url 'home:Post_Update' post.id %}" class='btn btn-info'>Update</a>
        {% endif %}
        <h3>{{post.user.username}}</h3>
        <p> {{post.body}}</p>
        {% if request.user.is_authenticated %}
            <div>
                {% if can_like %}
                    <a href="{% url 'home:post_like' post.id %}" class="disabled col-md-2 btn btn-danger">Unlike  ( {{ post.liked_count}}  )</a>
                {% else %}
                    <a href="{% url 'home:post_like' post.id %}" class="col-md-2 btn btn-primary">Like  ( {{ post.liked_count}}  )</a>    
                {% endif %}
            </div>   
            <div>
                <form method= 'post' action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input value = "add comment" type="submit"/>
                </form>    
            </div>   
        {% endif %}
    
    <br/>
    </hr>
    {% for comment in comments %}
        {% if comment.is_reply != True %}
            <div class='card bg-dark text-white col-md-5'>
                <p class='card-header'>{{comment.user}}|{{comment.created|timesince}}</p>
                <a class='card-body' href={% url 'home:Comment_Reply' comment.id %}>{{comment.body}}</a>
            </div>
            <br/>
        {% endif %}    
    {% empty %}
        <div class='card bg-dark text-white col-md-4'>
            <p class='card-body'>This Post haven't any comments</p>
        </div>
    {% endfor %}
    {% comment %} {% if comments %}
        {% for comment in comments %}
            <div class='card bg-dark text-white col-md-4'>
                <p class='card-header'>{{comment.user}}|{{comment.created|timesince}}</p>
                <p class='card-body'>{{comment.body}}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class='card bg-dark text-white col-md-4'>
            <p class='card-body'>This Post haven't any comments</p>
        </div>
    {% endif %}     {% endcomment %}

{% endblock content %}