{% extends 'base.html' %}

    {% block content %}

        <h2 class = 'text-center' > {{user.username}} </h2>

        </br>

        <h4 class= 'text-center'> {{user.email}} </h4>
        {% if user.id == request.user.id %}
            <a href={% url 'home:Post_Create' %} class="btn btn-success">Create</a>
            <a href={% url 'account:edit_user'%} class="btn btn-info">Edit Profile</a>
        {% endif %}
        {% if user.id != request.user.id  %}
            {% if exist_relation %}
                <a href={% url 'account:user_unfollow' user.id %} class="btn btn-danger">UnFollow</a>
            {% else %}
                <a href={% url 'account:user_follow' user.id %} class="btn btn-primary">Follow</a>    
            {% endif %}
        {% endif %}
        <div class='card col-md-3' >
            {% for post in posts  %}
                <a href='{{ post.get_absolute_url }}' class='card-body'> {{post.slug}}</a>
            {% endfor %}
        </div>
{% endblock content %}